# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [2]:
# Arithmetric Operators

print(5+6) # add

print(5-6) # sub

print(5*6) # mul

print(5/2) # div

print(5//2) # int div

print(5%2) # modulus -> tells the remainder after division

print(5**2) # power of

11
-1
30
2.5
2
1
25

In [3]:
# Relational Operators

print(4>5) # greater than

print(4<5) # less than

print(4>=4) # greater than equal to

print(4<=4) # less than equal to

print(4==4) # double equal to 

print(4!=4) # not equal to

False
True
True
True
True
False

In [ ]:
# Logical Operators
# AND
# OR
# NOT

print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [5]:
# Bitwise Operators -> Operate on Binary Values

# bitwise and
print(2 & 3)
# binary representation
# 010 --> 2
# 011 --> 3
# ----
# 010 --> 2


# bitwise or
print(2 | 3)
# 010 --> 2
# 011 --> 3
# ----
# 110 --> 3

# bitwise xor
print(2 ^ 3)
# 010 --> 2
# 011 --> 3
# ----
# 001 --> 1

print(~3) # not of 3 -> will make 0 as 1 and 1 as 0 in bit pattern
# 011 --> 3
# ----
# 100 --> -4

# Bitwise Right Operator --> Right Shift
print(4 >> 2)
# 100
# ---
# 001 --> 1

# Bitwise Left Operator --> Left Shift
print(5 << 2)
# 101
# ---
# 10100 --> 16 + 0 + 4 + 0 + 0 = 20

2
3
1
-4
1
20

In [14]:
# Assignment Operators

# = -->assignment operator
# ex: a = 2

a = 2

# a = a + 2
a += 2

b = 2

# a = a % 2
b %= 2

# note: a++ or ++a doesn't work in c++
print(a)
print(b)

4
0

In [21]:
# Membership Operators
# two types:
# in 
# not in

# whether it's in something or not

print('D' in 'Delhi') # D exists in Delhi or not
print('D' not in 'Delhi') # D is not in delhi or not

# Remember it's case sensitive
print('d' in 'Delhi')

# this operator doesn't only work with strings but with other data types as well
# Ex: works with list, tuple, sets, etc....

print(1 in [2,3,4,5,6]) # 1 exists in this or not

True
False
False
False

In [ ]:
# AND is used for normal And operation 
# & is used for Bitwise And operation

In [23]:
# Program (Using Operators) - Find the sum of a 3 digit number entered by the user
# modulus and int div is used

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number 666

18

# If-else in Python

In [25]:
# login program and indentation
# email -> nitish.campusx@gmail.com
# password -> 1234

#python syntax
# if condition:
#   code
# else:
#   code

email = input('enter email')
password = input('enter password')

if email == 'nitish.campusx@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'nitish.campusx@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter email rahul@gmail.com
enter password 3456

Not correct

In [ ]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [26]:
# min of 3 number

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

first num 4
second num 10
third num 8

smallest is 4

In [31]:
# menu driven program - ex: Basic Calculator
fnum = int(input("enter the 1st number"))
snum = int(input("enter the 2nd number"))

op = input('Enter the Operation')

if op == '+':
    print(fnum + snum)
elif op == '-':
    print(fnum - snum)
elif op == '*':
    print(fnum * snum)
else:
    print(fnum / snum)

enter the 1st number 2
enter the 2nd number 2
Enter the Operation /

1.0

In [30]:
# menu driven program - ex: Basic ATM
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
 4

exit

# Modules in Python
- math
- keywords
- random
- datetime

like in c++ we had header files/ libraries like #include<iostream> , #include<vector>, etc.....

similarly in python we have Modules

In [37]:
# math
import math

math.sqrt(196)

14.0

In [38]:
math.factorial(5)

120

In [39]:
math.floor(34.6)


# there are so many more ....
# write math. and then press `tab` you will be able to see all the function available

34

In [35]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [41]:
# random
import random
print(random.randint(1,100)) # will print a random int between 1 & 100

28

In [42]:
# datetime
import datetime
print(datetime.datetime.now()) # print today's date and current time

2025-05-24 12:08:20.290896

In [ ]:
help()

#modules

In [ ]:
help('modules') # will give a list of all modules that is available

# Loops in Python

- While Loop
- For Loop

#### While Loop

In [45]:
# While loop example -> program to print the table
# Program -> Sum of all digits of a given number
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [46]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

# python tutor website -> we can execute and visualize python code line by line

https://pythontutor.com/visualize.html#mode=edit

In [48]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo7
galat!guess higher
guess karo50
galat!guess lower
guess karo30
galat!guess higher
guess karo40
galat!guess lower
guess karo35
galat!guess lower
guess karo32
galat!guess higher
guess karo33
correct guess
attempts 7

#### For Loop

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [49]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [52]:
#                   step size
for i in range(1,11,2): # incremental jump is 2 / interval is 2 and then print
    print(i)

1
3
5
7
9

In [54]:
for i in range(1,11,4): #interval is 4
    print(i)

1
5
9

In [56]:
for i in range(10,0,-1): #print in reverse
    print(i)

# in range first is included, second is not ex: range(10,0,-1)
# -1 indicates increment of -1 ex: 10,9,8.....
# 10 is included 
# 0 is not
# Ex: 10,9,8.......1

10
9
8
7
6
5
4
3
2
1

In [57]:
for i in 'Delhi':
    print(i)

D
e
l
h
i

In [ ]:
# we can iterate on a string, list, tuple, set, dict.....

In [ ]:
# For loop examples

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

Meaning we have to find, for example: population of
2019
2018
2017
.
.
.
.
.

the population is increasing by 10% every year
So decrement the population by 10% for finding the pop in reverse(2018, 2017,....)

ex: to calc let's see
population in 9th year = x
10th year population = 10000
x + 10% of  x = 10000 (as population increases by 10% each year)
x + 0.1x = 10000
1.1x = 10000
x = 10000/1.1

prev year population = current year population/1.1

In [58]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [61]:
# find sum till nth term (n is given by user)

n = int(input("enter n"))

result = 0
fact = 1
for i in range(1,n+1): # loop will run for 1 --> n since first term in range is included(1) and second term is excluded(n+1)
    fact = fact * i 
    result = result + i/fact

print(result)

enter n 5

2.708333333333333

In [ ]:
# For loop vs While loops (When to use what?)

# Nested Loops

loop inside loop

In [64]:
# Examples -> Unique Pairs


for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
# Program - Unique combination of 1,2,3,4
# Program - Pattern 1 and 2

### Pattern 1

*
**
***

In [69]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
    print('*') # prints star in each row but not in our desired pattern

enter number of rows 5

*
*
*
*
*

In [68]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*') # it does print the required no of stars but it prints them in new line
# we want to print row no of stars in every row
#ex:
# *
# **
# *** 
# ..... and so on

enter number of rows 5

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [70]:
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*', end = '') # prints the req no of stars but all in a single line
# not in our pattern

***************

In [72]:
for i in range(1,rows+1):
    for j in range(1,i+1):
        print('*', end = '')
    print() # using the print func to change the line so that all starts don't print in a single line

*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [74]:
rows = int(input('enter number of rows'))

for i in range(1, rows+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

enter number of rows 5

1
12
123
1234
12345

In [77]:
rows = int(input('enter number of rows'))

for i in range(1, rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1): # negative loop ex: 321
        print(k,end='')
    print()

enter number of rows 5

1
121
12321
1234321
123454321

# Loop Control Statement

- Break
- Continue
- Pass

### Break

In [ ]:
# if a condition is met we can break the loop

In [78]:
# Break demo
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [79]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
# Real life Example of Break --> Searching in a Database
# Ex: Finding for a name in 1 lakh entries --> found the name in the 50th entry --> therefore will stop won't unecessarily continue further

# Linear Searching is an example of Break

In [ ]:
# Break example (Linear Search) ->Print Prime numbers in a given range

In [6]:
# lower range
lower = int(input('enter lower range'))
# Upper Range
upper = int(input('enter upper range'))

# This program finds and prints all prime numbers in a given range.
# For each number i in the range [lower, upper]:
#   - We check if it has any divisors other than 1 and itself.
#   - This is done by testing divisibility from 2 up to i-1.
#   - If any number divides i evenly (i % j == 0), it's not a prime, so we break.
#   - If no divisors are found (the loop completes without breaking), i is a prime and we print it.
for i in range(lower, upper+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

enter lower range 10
enter upper range 100

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Continue

skips the current iteration code 

EX:

In [9]:
# Continue demo
for i in range(1,10):
    if i == 5:
        continue
    print(i)

# the code skips when 5 comes, other prints every other number
# that's what continue does

# continue skips the next code lines of the particular iteration
# like for 5 it skipped the next code line -> print(i) and moved to next iteration.

1
2
3
4
6
7
8
9

In [ ]:
# Break -> breaks the loop
# continue -> skips the next code lines of the current iteration and moves to the next iteration

In [ ]:
# Real life Example of Continue

# Displaying products on an ecommerce website and skip displaying out of stock products
# run a loop and check current product stock , if 0 continue(skip) and move to the next product

### Pass

In [10]:
# Pass demo
for i in range(1,10):

SyntaxError: incomplete input (109843861.py, line 2)

In [11]:
for i in range(1,10):
    pass

In [ ]:
# `Pass` tells the interpreter to not throw an error , we would be writing some code here.