# 1. Python Output

In [1]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [2]:
print('Leonardo Dicaprio')

Leonardo Dicaprio

In [4]:
print(salman khan)
# inverted commas '' is a way to tell python that it is a string . If we don't add it it will throw error.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3979084932.py, line 1)

In [5]:
print(7) # Number

7

In [6]:
print(7.7) # Decimal

7.7

In [ ]:
print(True) # Boolean

In [11]:
print('Hello',1,4.5,True) # printing multiple data types in a single print statement

# each data is separated with space cause in sep argument by default it is mentioned ' '(space)  (shift + tab - opens documentation)
'''Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method'''

Hello 1 4.5 True

In [12]:
print('Hello',1,4.5,True, sep='/') # Overiding sep argument

Hello/1/4.5/True

In [13]:
print('Hello')
print('World')

# why when we write two print statements the output comes in two separate lines?
# (If we look at doc of print) there is an argument, end = '\n' (by default) this is the reason

Hello
World

In [14]:
#overiding end arg
print('Hello', end='-')
print('World')

Hello-World

# 2. Data Types

In [18]:
# integer data type

print(8)

# 1*10^308 - python can handle int only till here(limt), any num beyond this python will throw inf(infinite) 
print(1e308)

print(1e309)

8
1e+308
inf

In [20]:
#Decimal/Float
print(8.55)

print(1.7e308) # 1.7*10^308 - max decimal python can handle

print(1.7e309)

8.55
1.7e+308
inf

In [21]:
#Boolean

print(True)
print(False)

True
False

In [22]:
# Text/String
print('Hello World')

Hello World

In [27]:
# complex
print(5+6j)

(5+6j)

In [23]:
# List -> C -> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [24]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [25]:
#Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [26]:
# Dictionary - key value pair
print({'name' : 'John' , 'age' : 37 , 'gender': 'Male'})

{'name': 'John', 'age': 37, 'gender': 'Male'}

In [29]:
# Type Function - identifies the data type

type(3)

float

In [30]:
type(3.5)

float

In [31]:
type(6+6j)

complex

In [32]:
type([1,2,3,4])

list

# 3. Variables

In [33]:
# Containers to store info for future use

# we don't declare a var like in c/c++ (ex: char name -> no need to do this)
# we don't mention the data type for var at the time of var creation like in c++ (ex: char name = '')

name = 'John'
print(name)

John

In [34]:
a = 5
b = 6

print(a+b)

11

#### Interview Ques - What is Dynamic Typing in Python ?

In [ ]:
# Dynamic typing
# we don't mention the data type for var at the time of var creation like in c++ (ex: char name = '')
# we simply write name = ''
# This way of creating var is called dynamic typing -> where we do not tell the data type of a variable and python automatically detects it
a = 5

# Static Typing -> the way we create var in c/c++, java etc. 
# ex: int a = 5

In [1]:
# Dynamic Binding
a = 5
print(a)
a = 'snehan'
print(a)

# in python, a variable doesn't have a fixed datatype, it can be any datatype at any time
# meaning it can hold any datatype at diff times in a same program (like the abv ex)
# this is called dynamic binding.

#whereas

# in static binding once we have declared a variable with a datatype then in whole
# program we cannot change it data type
# ex: in c/c++ it follows static binding, int a = 5, then throughout the program
# a cannot store any other data type (it can store other int but not string, bool etc)

5
snehan

In [2]:
# diff way to write creating multiple variable
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [3]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [4]:
a=b=c=5
print(a,b,c)

5 5 5

# Comments

In [5]:
# this is a comment
# second line
a = 4
b = 6 #like this
# second comment
print(a+b)


# python interpreter never read comments

10

# 4. Keywords & Identifiers

#### Keywords

Programming--> done in english words--> high level language --> machine understands only binary 0 & 1 --> to execute the code we need to convert our english written code in 1s and 0s --> this conversion process is called as compilation --> done by compiler or interpreter --> compiler converts the whole code all together ex: java, c++ --> intepreter converts the code line by line ex: python, php

Our compiler/interpreter needs a bit help to understand how to convert english into binary ex: print word will help the comiler to understand programmer wants to print, if-else word will tell the compiler the programmer wants to create branching logic.. etc

There are certain words reserved by the comiler/interpreter which helps them understand the word --> these are called **keywords** 

In python there are **36 keywords.**

**Note:Don't use these reserved keywords as variable names.(can create confusion or code might not work).**

#### Identifiers

Names we create/give in the function are called identifiers.
EX: variable names, function names, class names

Rules to consider while creating an indentifier:
1. You can't start with a digit
   ex: 1name = 'Rahul'
       print(1name)
       but the opposite works
   ex: name1 = 'Rahul'
       print(name1)

3. You can use only this special char -> _(underscore)
   ex: first_name = 'Rahul'
       print(first_name)
       _ = 'Rahul' --> even this works
       print(_)
   the below won't work
       first-name = 'Rahul'
       print(first-name)

# 5. User Input

In [1]:
input()

 Rahul

'Rahul'

In [2]:
input('Enter your name')

Enter your name Rahul

'Rahul'

In [4]:
# program to take two no as uper input and perform operation on it

# take input from user and store them in a variable
fnum = input('enter first number')
snum = input('enter second number')
# print(fnum,snum)

# add the 2 variable 
result = fnum + snum

# print the result
print(result)

#result is unexpected, it is not adding up mathematically 
#why is this error coming?

enter first number 44
enter second number 66

4466

In [5]:
# take input from user and store them in a variable
fnum = input('enter first number')
snum = input('enter second number')
print(type(fnum),type(snum))

# add the 2 variable 
result = fnum + snum

# print the result
print(result)

enter first number 44
enter second number 66

<class 'str'> <class 'str'>
4466

The user gives int as input, but by default the int is stored as string type in variable
Adding two strings will not add it mathematically but rather concatenate both
This is what is hapenning here.

Why is python storing it in string?
string is a universal data format, meaning we can store diff data type in a string ex: an int like 4 can be stored in a string format
    can store a complex no in strong format....

but vice versa is not true --> cannot store a string as an int format
ex: cannot store 'kolkata' in int format.

therefore the python devs decided that user input could be any data type so by default string was the choice.

solution?

# 6. Type Conversion

In [7]:
# Converts a data type into another data type

# there are two types of type conversion in python
# Implicit Vs Explicit

#Implicit - done by the interpreter , programmer doesn't have to worry
# ex:
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [8]:
#Implicit type conversion doesn't always work
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
#Explicit - done by the programmer

# str --> int
print(int('4'))
print(type(int('4')))

# float --> int
print(int(4.5))

# complex no --> int
print(int(4+5j))
#complex no cannot be converted into complex no
# it's logically incorrect , as complex no -> real + imaginary
# if we convert it into int that means keep real and remove imaginary
# ex: 4 + 5j keep 4 remove 5j --> information loss, python doesn't allow

4
<class 'int'>
4

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [15]:
# int to str
str(5)

'5'

In [16]:
# float
float(4)

4.0

In [18]:
# now we can try out our program from above using these type converersion techniques
# so that it won't throw an error
# ex: int(fnum), int(snum)

# take input from user and store them in a variable
fnum = input('enter first number')
snum = input('enter second number')
# print(type(fnum),type(snum))

# add the 2 variable 
result = int(fnum) + int(snum)

# print the result
print(result)

enter first number 44
enter second number 66

110

In [20]:
# afer doing the type conversion , the data type of fnum 
print(type(fnum))

# is still string
# cause still the value inside fnum is string

# so what actually happened in type conversion?
# In python, whenever we do type conversion like this , a new object is created
# when we write int(fnum) , there was no change in fnum but rather a new fnum was 
# created and changes were made in it.

# so type conversion does not apply changes to the original data but rather create
# a new data/value and make changes into that value.

<class 'str'>

In [21]:
# we can also type convert at the time of taking input

# take input from user and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
# print(type(fnum),type(snum))

# add the 2 variable 
result = int(fnum) + int(snum)

# print the result
print(result)

enter first number 44
enter second number 66

110

In [25]:
# in this way , the type of fnum will change permanently from str to int
# cause here we have stored in fnum as int format only during input
# (we first converted it into int then stored it)

# before we were storing it as str and later type converting it
# (we stored it in str and then later converted it into int)

print(type(fnum))

<class 'int'>

# 7. Literals

whatever raw value we store inside a variable is called **Literal**


ex: a = 2  

a is variable

= is operator

2 is literal


##### Ways to set Literal:

In [28]:
a = 0b1010 #Binary Literals --> will give output as 10(integer) (1010 in binary), 
# 0b indicates that whatever comes later are binary example: 0b1010
# 0b indicates binary 1010 indicates 10(integer)
print(a)

10

In [29]:
a = 0b1010 # Binary Literal
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j 

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [31]:
x = 3.14j
print(x.imag)

3.14

In [32]:
# all of these string representation is valid
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
# unicode strings - ex: unicode for smiley emoji
unicode = u"\U0001f600\U0001F606\U0001F923"
#\n , \t , etc symbols we use for new line and other things in programming, to represent it in raw string.
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [35]:
# Booleans
# python internally considers True as 1 and False as 0
# so we could perform mathematical operations on it
# Python treats boolean as numbers in a mathematical expression
a = True + 4 # 1 + 4
b = False + 10 # 0 + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [42]:
# None Literal

h = None

# it's usecase?

# in python we cannot declare a variable and then use it later
# Ex:

In [45]:
z 
a = 5
b = 6
print('Program exe')

#it throws an error
# there is no way in python, using which we can declare a variable
# (meaning layman's term - let's declare a variable let's say as z , keep it in program we will use
# it later , python doesn't let us do that, whenever you want to use make it instantly
# can't keep it beforehand)

# To solve this problem we can use None

NameError: name 'z' is not defined

In [47]:
z = None
a = 5
b = 6
print('Program exe')

# program doesn't throw error anymore.

Program exe

#### None literal is used for variable declaration