Strings are sequence of Characters

In Python specifically, strings are a sequence of **Unicode** Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

**Diff between ASCII and Unicode**

https://docs.python.org/3/howto/unicode.html


In c++ ASCII chars are used but in python Unicode chars are used

initially 8 bits computers were introduced --> To store a char they used 8 bit value (256 distinct values)--> small range, less chars were represented inside our machine --> ASCII failed as computers advanced 

16 bit char set was introduced(Unicode) , 2^16 bits combination --> can store a lot many chars from diff languages , even smileys etc --> therefore unicode was introduced and Python uses unicode.

**Python characters are Unicode characters.**

In [4]:
s = 'hello'
s = "hello"

# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

why so many options?
let's understand it's utility

'it's raining outside' -> our python gets confused between apostrophe and inverted commas(quotation marks used for strings) 

therefore we use double inverted commas for these kind of scenarios

therefore we are provided with the option of single inverted commas and double inverted commas

triple inverted commas?
for multiline strings

In [6]:
'it's raining outside'

SyntaxError: unterminated string literal (detected at line 1) (1304262139.py, line 1)

In [3]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Indexing
# python internally assigns index pos to char
# ex:

In [10]:
#Positive indexing --> index assigned to char from 0 to ..... 
# --> Indexing done from left to right

s = 'Hello World'
print(s[0])
print(s[3])

print(s[41]) # error , we don't have that many char to index till 41

H
l

IndexError: string index out of range

In [12]:
# Negative Indexing --> last char assigned as index -1, second last char as -2, and so on....
# --> deals with negative index --> indexing done from right to left

print(s[-1])
print(s[-2])
print(s[-3])

d
l
r

In [ ]:
# what if instead of extracting one char , we want to extract multiple char or an 
# substring ? --> for that we do slicing

In [13]:
# Slicing --> helps to extract more than one char

print(s[0:5])

# specify a range ex: 0 to 5 --> is actually 0 to 4 (5 is not included) 
# --> range is [0,5) --> [ meaning index included , ) meaning index not included

Hello

In [15]:
print(s[2:3]) # range is from [2,3) --> index 2 included, 3 not included --> hence only index 2 will be printed

l

In [20]:
# skipping ending range
print(s[2:]) # from index 2 till end

llo World

In [21]:
# skipping starting range
print(s[:3]) # from index 0 to n-1 i.e 3-1 = 2 --> from index 0 to 2

Hel

In [22]:
print(s[:]) # skipping both range --> prints the whole string

Hello World

In [25]:
# step size
print(s[0:6:2]) # range from 0 to 5(n-1 = 6-1) with increment/step size/jump of 2

Hlo

In [26]:
print(s[0:6:3])

Hl

In [29]:
print(s[0:6:-1]) # Won't work

**If we are taking a neg step size keep in mind first number in range should be bigger than second number (basically do reverse numbering)ex: instead of 0:6 do 6:0**

In [28]:
print(s[6:0:-1]) # -1 indicates printing in reverse

W olle

In [30]:
print(s[6:0:-2])

Wol

In [32]:
print(s[::-1]) # reverse a string

dlroW olleH

In [36]:
# Slicing with Negative Index
n = 'Hello World'

# printing 'world'
print(n[-5:-1])

Worl

In [37]:
print(n[-5:])

World

**If we are taking a neg step size keep in mind first number in range should be bigger than second number (basically do reverse numbering)ex: instead of -6:-1 do -1:-6**

In [39]:
#printing 'world' in reverse
print(s[-1:-6:-1])

dlroW

## Editing and Deleting in Strings

In [41]:
s = 'hello world'

s[0] = 'H'

# Won't Work --> we cannot change a string once made

# Also called as Immutability

# Python Strings are Immutable(cannot be changed)

TypeError: 'str' object does not support item assignment

In [ ]:
# Deleting a string

In [44]:
s = 'hello world'

del s
print(s)

NameError: name 's' is not defined

In [45]:
s = 'hello world'
del s[-1:-5:2]
print(s)

# Error --> using slicing we cannot delete a portion of our string
# deleting a portion of our string means changing our string
# not possible in python --> strings are immutable(changes not allowed in a string)

TypeError: 'str' object does not support item deletion

In [ ]:
# therefore a string is fully deleted but cannot be partially deleted

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [ ]:
# Arithmetic Operator --> only addition and multiplication works on strings
# sub, division, mod doesn't work on strings

In [46]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [50]:
print('delhi '*5)

delhi delhi delhi delhi delhi

In [51]:
print("*"*50)

**************************************************

In [ ]:
# Relational Operators --> all of it works

In [52]:
'delhi' == 'mumbai'

False

In [53]:
'delhi' == 'delhi'

True

In [54]:
'delhi' != 'delhi'

False

In [57]:
'mumbai' > 'pune'
#lexicographically compared --> based on ASCII no comparison is done

#non - technical logic --> which comes before in a dictionary will be greater

False

In [59]:
'Pune' > 'pune'

# capital 'P' ASCII value(80) is smaller than small 'p' ASCII value(112)

False

In [ ]:
# Logical Operator

In [60]:
'hello' and 'world'

'world'

In [61]:
'hello' or 'world'

'hello'

**In python, internally any string with char(non-empty string) --> considered True**
**and if the string is empty --> considered as False**

In [64]:
'' and 'world'

# False and True --> gives False

# And operator is true when both are true, else it is false

''

In [66]:
'' or 'world'

# False or True --> True

'world'

In [68]:
'hello' or 'world'

# When python say 'hello' it considered it will be True only , and did not look further
# therefore returned 'hello'
# as in or --> if one is True then it's True

'hello'

In [69]:
'hello' and 'world'

# Python took 'hello' as True but it needed to read/evaluate the other as well 
# cause in AND if both are true then its true or else its false

# as both are true therefore it returned true --> 'world' 
# (any non-empty string is considered True)

'world'

In [70]:
not '' # not of False(empty string) is True

True

In [72]:
not 'hello' # not of True(non-empty string) is False

False

In [ ]:
#Loops on Strings

In [74]:
# string in python is iterable

for i in 'hello':
    print(i)

h
e
l
l
o

In [76]:
for i in 'hello':
    print('pune')

# loop will run for 'no of char in hello' number of times and print 'pune' that number of times

pune
pune
pune
pune
pune

In [ ]:
# Membership Operator --> 1. in    2. not in

In [77]:
'D' not in 'Delhi'

False

In [78]:
'D' in 'Delhi'

True

In [79]:
'D' not in 'delhi' # case sensitive

True

## Common Functions
- len
- max
- min
- sorted

**common functions works on all data types like strings,list,sets,dict,tuple,etc....**

In [81]:
len('hello world') # counts length including space

11

In [84]:
max('hello world') # extracts maximum char from the string on the basis of ASCII value

'w'

In [85]:
min('hello world') # vice versa of max

' '

In [87]:
sorted('hello world')

# note : it's output is not a string but a List
# characters are organised in ascending order on the basis of ASCII values

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [88]:
sorted('hello world', reverse=True) # sorting in descending order

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Functions that only work on strings data type

## Capitalize/Title/Upper/Lower/Swapcase

In [113]:
s = 'hello world'
print(s.capitalize()) # Capitalize the first char of the sentence
print(s)
# s got capitalized but then again if we print s it stays the same
# this means that when we apply these functions to the string , the original
# string remains untouched, a new string is formed in memory and all the functions
# are applied on that
# all the functions below work the same --> no changes in og string, new string formed
# changes made there

Hello world
hello world

In [90]:
s.title() # Capitalizes the first char of every word in our sentence

'Hello World'

In [91]:
s.upper() # Convert all the chars into upper case

'HELLO WORLD'

In [92]:
'Hello World'.lower() # Convert all the chars into lower case

'hello world'

In [93]:
'HeLlO WorLD'.swapcase() # capital to lower, lower to capital

'hElLo wORld'

## Count/Find/Index

In [94]:
'my name is rahul'.count('i') # In a given string to find frequency count of mentioned substring

1

In [99]:
'my name is rahul'.find('x') # In a given string find the index of the mentioned substring
# - 1 indicates substring not found

-1

In [114]:
'my name is rahul'.find('is')

8

In [115]:
'my name is nitish'.index('is') # similar to find

# only diff b/w find and index is 
# find --> throws -1 if substring not found
# index --> throws error if substring not found

8

In [116]:
'my name is nitish'.index('x')

ValueError: substring not found

## endswith/startswith

In [102]:
# to check if a string ends with/ starts with a particular thing or not
'my name is nitish'.endswith('sho')

False

In [117]:
'my name is nitish'.endswith('sh')

True

In [103]:
'my name is nitish'.startswith('1my')

False

In [118]:
'my name is nitish'.startswith('my')

True

## Format

In [124]:
# format --> in a given string we can insert a variable's value

name = 'nitish'
gender = 'male'

'Hi my name is {} and I am a {}'.format(name,gender)

# first value (name) will be entered in first bracket
# and second value(gender) will be entered in second bracket

# hence order matters

'Hi my name is nitish and I am a male'

In [125]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and I am a {}'.format(gender,name)

# order matter

'Hi my name is male and I am a nitish'

In [127]:
# we can provide order by ourselves (decide position by our convenience)
name = 'nitish'
gender = 'male'
#                                          0      1
'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [ ]:
# these functions are to test if a given string belongs to a particular criteria or not

In [105]:
'nitish1234%'.isalnum() # checks if string is alphanumeric or not --> num and alplabets

False

In [128]:
'nitish1234'.isalnum()

True

In [106]:
'nitish'.isalpha() # --> all alphabets or not

True

In [129]:
'nitish098'.isalpha()

False

In [130]:
'123abc'.isdigit() # --> all digit or not

False

In [131]:
'123'.isdigit()

True

In [108]:
'first-name'.isidentifier() # checks if it is a valid identifier or not (certain rules for valid identifier we studied earlier)

False

In [132]:
'1name'.isidentifier()

False

In [133]:
'name1'.isidentifier()

True

In [134]:
'first_name'.isidentifier()

True

## Split/Join

In [109]:
'hi my name is nitish'.split() # breaks a given sentence word by word and add into a list
# by default it split on the basis of ' '(spaces)

['hi', 'my', 'name', 'is', 'nitish']

In [135]:
# not necessary we split on basis of ' ' (spaces)
# we can mention anything 
# ex:
# split on the basis of i
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [136]:
'hi my name is nitish'.split('is') # split on the basis of is

['hi my name ', ' nit', 'h']

In [110]:
" ".join(['hi', 'my', 'name', 'is', 'nitish']) # reverse of split
# join words to form sentence
# by default joining is done on the basis of ' '(spaces)

'hi my name is nitish'

In [137]:
"-".join(['hi', 'my', 'name', 'is', 'nitish'])
# joining will be done on the basis of -(hyphen)

'hi-my-name-is-nitish'

## Replace

In [ ]:
# replaces a particular substring

In [138]:
'hi my name is nitish'.replace('nitish','campusx')
# not replacing in og string
# new string is being formed and operation is performed on that

'hi my name is campusx'

In [139]:
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')
# if the word doesn't exist in the string, then it won't be replaced

'hi my name is nitish'

## Strip

In [ ]:
# removes the trailing spaces

In [112]:
'nitish                           '.strip()

'nitish'

In [140]:
'               nitish                      '.strip()

'nitish'